{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>firstaid</title>

</head>
<body >
<!-- Sidebar -->
    <ul class="nav nav-sidebar" >
                <li >
                    <a href="#burns">Burns</a>
                </li>
                <li>
                    <a href="#">Abdominal Pain</a>
                </li>
                <li >
                    <a href="#">Chest Pain</a>
                </li>
                <li>
                    <a href="#strain">Strain And Spain</a>
                </li>
                <li>
                    <a href="#allegy">Allergic Reaction</a>
                </li>
                <li>
                    <a href="#stroke">Stroke</a>
                </li>
                <li>
                    <a href="#">Neck Strain</a>
                </li>
                <li>
                    <a href="#">Nose Bleeds</a>
                </li>
                <li>
                    <a href="#">Muscle Strain</a>
                </li>
                <li>
                    <a href="#">Migraine Headache</a>
                </li>
                <li>
                    <a href="#">Food Poisoning</a>
                </li>
                <li>
                    <a href="#breath">Unresponsive and not breathing</a>
                </li>
                <li>
                    <a href="#heart">Heart Attack </a>
                </li>
                <li >
                    <a href="#bleeding">Cuts and Bleeding</a>
                </li>
                <li>
                    <a href="#choke">Choking</a>
                </li>
                <li>
                    <a href="#bone">Broken Arm</a>
                </li>
     </ul>

 <!-- Page Content -->
  <div class="main1" >
        <div class="row" id="bone" style=" height:360px !important;">
              <b><h1>Broken Bone treatment</h1></b>
            <div class="col-md-6">
               <iframe width="450" height="253" src="http://www.youtube.com/embed/dVqhZTBV3vI?enablejsapi=1&amp;origin=http:%2F%2Fwww.redcross.org.uk" frameborder="0" allowfullscreen="" id="widget2" __idm_id__="679749634"></iframe>

            </div>
            <div class="col-md-6">
                <h2>Key Skills</h2>
                <ul>
                     <li>Encourage the person to support the injury with their hand, or use a cushion or items of clothing to prevent unnecessary movement.</li>
                     <li>As soon as possible, call your medical emergence number or get someone else to do it.</li>
                    <li>Continue supporting the injury until help arrives.</li>
                </ul>
             </div>
        </div>
        <div class="row" id="choke">
                <b><h1>Choking Treatment</h1></b>
            <div class="col-md-6">
                <iframe width="450" height="253" src="https://www.youtube.com/embed/6xbQdKXXXlY" frameborder="0" allowfullscreen=""></iframe>
            </div>
            <div class="col-md-6">
                <h2>Key Skills</h2>
                <ul>
                    <li>Hit them firmly on their back between the shoulder blades to dislodge the object.</li>
                    <li>If necessary, see the doctor.</li>
                </ul>
            </div>
        </div>
       <div class="row" id="breath">
                   <b><h1>Unresponsive and not breathing</h1></b>
            <div class="col-md-6">
            <iframe height="253" src="https://www.youtube.com/embed/hHyVQiWFXzg" frameborder="0" width="450"></iframe>
            </div>
            <div class="col-md-6">
                <h2>Key Skills</h2>
                <ul>
                    <li>Check breathing by tilting their head backwards and looking and feeling for breaths.</li>
                    <li>Call your medical emergence as soon as possible, or get someone else to do it.</li>
                    <li>Push firmly downwards in the middle of the chest and then release.</li>
                    <li>Push at a regular rate until help arrives.</li>
                </ul>
            </div>
         </div>

        <div class="row" id="strain">
                 <b><h1>Strains Treatment</h1></b>
            <div class="col-md-6">
              <iframe width="450" height="253" src="http://www.youtube.com/embed/3CEiFmVzzyc?enablejsapi=1&amp;origin=http:%2F%2Fwww.redcross.org.uk" frameborder="0" allowfullscreen="" id="widget2"></iframe>
            </div>
            <div class="col-md-6">
                <h2>Key Skills</h2>
                <ul>
                    <li>Get the person to rest.</li>
                    <li>Apply an ice pack to the injury.</li>
                    <li>If there is no improvement seek medical advice.</li>
                </ul>
            </div>
         </div>
         <div class="row" id="burns">
             <b> <h1>Burn Treatment</h1></b>
              <div class="col-md-6">
                   <iframe width="450" height="253" src="https://www.youtube.com/embed/Ns1DPvXVO6I" frameborder="0" allowfullscreen="" __idm_id__="477936642"></iframe>
              </div>
              <div class="col-md-6">
                    <h2>Key Skills</h2>
                    <ul>
                        <li>Cool the burn under cold running water for at least ten minutes.</li>
                        <li>After the burn has been cooled, cover it with cling film or a clean plastic bag.</li>
                        <li>If necessary, call your medical emergence number or get someone else to do it.</li>

                     </ul>
               </div>
         </div>
          <div class="row" id="allegy">
              <b><h1>Allergic Treatment</h1></b>
               <div class="col-md-6">
                    <iframe width="450" height="253" src="https://www.youtube.com/embed/yqaLKuhMCPw" frameborder="0" allowfullscreen="" __idm_id__="643021825"></iframe>
               </div>
               <div class="col-md-6">
                      <h2>Key Skills</h2>
                      <ul>
                          <li>The person may develop a rash, itchiness or swelling on their hands, feet or face. Their breathing may slow down. </li>
                          <li>Call your medical emergence number when you observe these symptoms.</li>
                          <li>Give constant reassurance until help arrives.</li>
                      </ul>
                </div>
          </div>
          <div class="row">
              <b><h1>Head Inquiry Treatment</h1></b>
              <div class="col-md-6">
                   <iframe width="450" height="253" src="https://www.youtube.com/embed/OqDdLUi7kkA" frameborder="0" class="img1"></iframe>
              </div>
               <div class="col-md-6">
                   <h2>Key Skills</h2>
                    <ul>
                       <li>Ask them to rest and apply something cold to the injury (e.g. frozen vegetables wrapped in a tea towel).</li>
                       <li>If they become drowsy or vomit, call your medical emergence number or get someone else to do it.</li>
                    </ul>
               </div>
          </div>
          <div class="row" id="heart">
              <b><h1>Heart Attack Treatment</h1></b>
             <div class="col-md-6">
                  <iframe width="450" height="253" src="https://www.youtube.com/embed/1qje-XlNowI" frameborder="0" allowfullscreen=""></iframe>
            </div>
            <div class="col-md-6">
                 <h2>Key Shills</h2>
                 <ul>
                      <li>The person may have persistent, vice-like chest pain, which may spread to their arms, neck, jaw, back or stomach.</li>
                       <li>As soon as possible, call your medical emergence number or get someone else to do it.</li>
                       <li>Make sure they are in a position that is comfortable for them (e.g. sit them on the floor, leaning against a wall or chair).</li>
                       <li>Give them constant reassurance while waiting for the ambulance.</li>
                 </ul>
            </div>
          </div>
          <div class="row" id="stroke">
              <b><h1>Stroke Treatment</h1></b>
             <div class="col-md-6">
                  <iframe width="450" height="253" src="https://www.youtube.com/embed/PCNTMIcOMpE" frameborder="0" allowfullscreen=""></iframe>
             </div>
              <div class="col-md-4">
                   <h2>Key Skills</h2>
                    <ul>
                           <li>Think F.A.S.T. Face: is there weakness on one side of their face? Arms: can they raise both arms? Speech: is their speech easily understood? Time:Call for medical help.</li>
                    </ul>
          </div>
        </div>
       <div class="row" id="bleeding" >
            <b><h1>Bleeding heavily Treatment</h1></b>
          <div class="col-md-6">
            <iframe width="450" height="253" src="https://www.youtube.com/embed/BQRqUxB5pn0?ecver=1" frameborder="0" class="img1"></iframe>
          </div>
          <div class="col-md-6">
              <h2>Key Skills</h2>
              <ul>
                  <li>Put pressure on the wound with whatever is available to stop or slow down the ﬂow of blood.</li>
                  <li> As soon as possible,call your medical emergence number or get someone else to do it.</li>
                   <li>Keep pressure on the wound until help arrives.</li>
              </ul>
          </div>
        </div>
  </div>


</body>
</html>


{% endblock %}
